/*
Original CSS template source:
Design by Front
http://www.goldilocksapproach.com
*/

/* Reset. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Fonts. */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

/* Root. */
html {
    overflow-y: scroll;
    background: hsl(0, 0%, 97%);
}

img, embed, object, video {
    max-width: 100%;
}

.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video {
    width: 100%;
}

/* Typography. */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.618em;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.405em;
    line-height: 1em;
}

h1 {
    font-weight: bold;
    font-size: 1.618em;
}

h2 {
    font-weight: bold;
    font-size: 1em;
}

p, ul, ol, dl, blockquote, .minicolumn, table, pre, img {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 1.618em;
    max-width: 30em;
}

img {
    width: 100%;
}

pre {
    background: white;
    font-family: 'Inconsolata', ;
    padding: 0.405em;
}

ul {
    list-style-type: disc;
    margin-left: 1.618em;
}

ol {
    list-style-type: decimal;
    margin-left: 1.618em;
}

nav ul, nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

small {
    font-size: 75%;
}

/* Links. */
a, a:visited {
    outline: none;
    color: #439BBD;
    text-decoration: none;
}

a:hover {
    outline: none;
    text-decoration: underline;
}

a:active, a:focus {
    outline: none;
}

/* Common layout. */
#container {
    padding: 0.809em;
    max-width: 30em;
    margin: auto;
}

aside {
    width: 100%;
}

td {
    padding: 0.405em;
}

td.core {
    text-align: center;
    height: 1.618em;
    padding: 0em;
}

td.side {
    text-align: right;
    vertical-align: middle;
    padding: 0em;
    padding-right: 0.405em;
}

th {
    width: 1.618em;
    text-align: center;
    vertical-align: top;
}

ul {
    list-style-type: square;
}

.column {
    float: left;
    width: 30em;
    margin-right: 3.236em;
    text-align: left;
}

.lefthalf {
    float: left;
    width: 14em;
    text-align: left;
}

.righthalf {
    float: right;
    width: 14em;
    text-align: left;
}

/* Wide display layout. */
#container {
    padding: 1.618em;
    margin: 0 auto;
    max-width: 70em;
}

/* Thin display layout. */
@media screen and (min-width: 30em) and (max-width: 63.236em) {

    #container {
        width: 30em;
    }

}

@media screen and (max-width: 30em) {

    .column {
        width: auto;
    }

}

/* Misc. */
.cf:before, .cf:after {
    content: "";
    display: block;
}

.cf:after {
    clear: both;
}

.ie6 .cf {
    zoom: 1;
}

span.codedirection {
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* Lightbox. */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#lightbox img {
    display: block;
    margin: auto;
    margin-top: 2.5%;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    cursor: pointer;
}